// Colors
$primary: var(--bs-primary);
$secondry: var(--bs-secondry);
$lighten_paragraph: lighten(gray, 40%);
$darken_paragraph: lighten(gray, 18%);
$white: #fff;
// Font
$font_family: 'Mohave',
sans-serif;