/* 
    Title : Quizo
    Author : Amr Elmeslimany
    Github Repositry: https://github.com/amrelmeslimany-portfolio/quizo-web-app
    version : 1.0.0

    # Road Map
        1. Imports
        2. basics
            2.1. Custom Classes
        ## Sections
        3. Header & Navbar
        4. Why Us
*/

// 1. Imports
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600;700&display=swap');
@import "./functions";

// 2. Basics
body {
    font-family: $font_family;
    font-weight: 300;
}

@for $c from 1 to 7 {
    h#{$c} {
        font-family: $font_family;
        font-weight: 600;
    }
}

// 2.1 Custom Classes
.line-height-17 {
    line-height: 1.7;
}

.paragraph-bg-dark {
    color: $darken_paragraph;
}




// 3. Header & Navbar
#main-header {
    position: relative;
    height: 670px;
    padding-bottom: 50px;

    .bg-overlay-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background: linear-gradient(135deg, $primary 30%, #319733);
        z-index: 1;
    }

    .wrap-content {
        position: relative;
        z-index: 2;


        .header-intro {
            padding-top: 7rem;

            .line {
                display: block;
                background-color: $white;
                height: 8px;
                width: 50px;
            }

            p {
                color: $lighten_paragraph;
                width: 40%;

            }
        }

    }

    .img-overlay {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;

        img {
            width: 759px;
        }
    }
}


// 4. Why Us
#why-us {

    height: 400px;

    .col-md-12 {
        position: relative;

        .whyus-img {
            position: absolute;
            top: -48px;
            right: 0;
            filter: hue-rotate(75deg);
        }
    }

}