/* 
    Title : Quizo
    Author : Amr Elmeslimany
    Github Repositry: https://github.com/amrelmeslimany-portfolio/quizo-web-app
    version : 1.0.0

    # Road Map
        1. Imports
        2. basics
            2.1. Custom Classes
        ## Sections
        3. Header & Navbar
        4. Why Us Section
        5. Specialist Section
        6. Features
        7. Other Sections
        8. Footers


    # Responsive Screens
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }

*/

// 1. Imports
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600;700&display=swap');
@import "./functions";

// 2. Basics
body {
    font-family: $font_family;
    font-weight: 300;
}

.wrap-page {
    overflow: hidden;
}

@for $c from 1 to 7 {
    h#{$c} {
        font-family: $font_family;
        font-weight: 600;
    }
}



// 2.1 Custom Classes
.line-height-17 {
    line-height: 1.7;
}

.paragraph-bg-dark {
    color: $darken_paragraph;
}

.text-darken-primary {
    color: $darkenPrimary;
}


// 3. Header & Navbar
#main-header {
    position: relative;
    padding-bottom: 150px;
    overflow: hidden;

    .bg-overlay-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background: $bg_gradient;
        z-index: 1;
    }

    .wrap-content {
        position: relative;
        z-index: 2;


        .header-intro {
            padding-top: 7rem;

            .line {
                display: block;
                background-color: $white;
                height: 8px;
                width: 50px;
            }

            p {
                color: $lighten_paragraph;
                width: 40%;

            }
        }

    }

    .img-overlay {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;

        img {
            width: 759px;
        }
    }


    // Responsive
    @media (max-width: 1400px) {
        .wrap-content {
            .header-intro {
                h1 {
                    font-size: 4rem !important;
                }

                p {
                    width: 35%;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .wrap-content {
            .header-intro {
                p {
                    width: 80%;
                }
            }
        }

        .img-overlay {
            right: -30%;
            width: 100%;
            height: 100%;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 768px) {
        .bg-overlay-gradient {
            width: 100%;
        }

        .wrap-content {
            .header-intro {
                h1 {
                    font-size: 3rem !important;
                }

                p {
                    width: 100%;
                }
            }
        }

        .img-overlay {
            display: none;
        }
    }
}


// 4. Why Us Section
#why-us {

    .col-md-12 {
        position: relative;

        .whyus-img {
            position: absolute;
            top: -48px;
            right: 0;

            // Responsive
            @media (max-width: 768px) {
                display: none;
            }
        }
    }


}



// 5. Specialist Section
#specialist-section {
    overflow: hidden;

    padding-top: 8rem;
    padding-bottom: 4.49rem;

    .col-md-13 {
        position: relative;

        .box-lighten-green {
            position: absolute;
            left: 160px;
            top: 50px;
            width: 250px;
            height: 400px;
            background-color: $lightenPrimary;
            z-index: -1;
        }
    }

    .specialist-right-img {
        right: -150px;
        width: 780px;
    }


    // Responsive
    @media (max-width: 1200px) {
        .first-box {
            p {
                width: 100% !important;
            }
        }
    }

    @media (max-width: 1200px) and (min-width: 992px) {

        .specialist-right-img {
            width: 710px;
        }

    }

    @media (max-width: 992px) and (min-width: 768px) {

        .specialist-right-img {
            width: 550px;
            top: 20%;
        }

    }

    @media (max-width: 992px) {
        padding-top: 4.49rem;

        .col-md-13 {
            .box-lighten-green {
                left: 0;
                top: -72px;

            }
        }
    }

    @media (max-width:768px) {
        .specialist-right-img {
            display: none;
        }

        .col-md-13 {
            .box-lighten-green {
                left: 0;
                top: -72px;
                opacity: 0.4;
            }
        }

        p {
            width: 100% !important;
        }
    }
}



// 6. Features
#features-section {
    background-color: $lightenPrimary;

    // Responsive
    $borderStyle: 1px solid #dee2e6 !important;

    @media (min-width:768px) and (max-width:992px) {
        .wrap-item {
            &:not(:nth-last-of-type(-n+4)) {
                >div {
                    border-bottom: $borderStyle;
                }
            }
        }

        .wrap-item {
            &:not(:nth-of-type(4n)) {
                >div {
                    border-right: $borderStyle;
                }
            }
        }

        .wrap-item {
            &:nth-of-type(4n) {
                >div {
                    border-right: none !important;
                }
            }
        }
    }

    @media (max-width:768px) {
        .wrap-item {
            &:nth-of-type(even) {
                >div {
                    border-right: none !important;
                }
            }
        }

        .wrap-item:not(:last-of-type) {
            >div {
                border-bottom: $borderStyle;
            }
        }

        .wrap-item:nth-of-type(11) {
            >div {
                border-bottom: none !important;
            }
        }
    }
}


// 7. other sections
#other-sections {
    padding: 4rem 0;

    @media (max-width:768px) {
        padding: 3rem 0;
    }

    @media (max-width:576px) {
        padding: 3rem 0 2.5rem;
    }
}


// 8. Footers
#main-footer {
    padding-top: 168px;

    @media (max-width:992px) {
        padding-top: 84px;
    }

    @media (max-width:768px) {
        padding-top: 40px;
    }

    .footer-top {
        position: relative;

        .img-overlay {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -2;

            img {
                width: 692px;
            }
        }

        .wrap-content {
            position: relative;
            padding: 4rem 0;
            z-index: 2;

            .bg-gradiant {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 75%;
                height: 100%;
                background: $bg_gradient;
                z-index: -1;
            }

            p {
                color: $lighten_paragraph;

                @media (max-width: 576px) {
                    width: 75%;
                }
            }
        }
    }
}